<div class="skills-painel left">
  <h2 class="col-lg-12">Habilidades</h2>
  <div class="row">
    <div class="col-lg-4 text-center">
      <p>
        Apresento minhas habilidades que não param de crescer! Pois tecnologia é isso, a todo momento surge coisa nova e assim populo o mapa ao lado com o que já tenho a oferecer!
      </p>
    </div>
    <div class="col-lg-8 text-center">
      <canvas #skillCanvas id="skillCanvas" (window:resize)="resizeCanvas()"></canvas>
    </div>
    <!-- <div class="col-lg-6 text-center">
      <h3>Front-End</h3>
      <h4>HTML5/CSS3</h4>
      <h4>JavaScript/TypeScript</h4>
      <h4>Angular</h4>
      <h4>Bootstrap</h4>
      <h4>Sites Responsivos</h4>
    </div>
    <div class="col-lg-6 text-center">
      <h3>Back-End</h3>
      <h4>Kotlin, Java, Node.js</h4>
      <h4>Spring Framework</h4>
      <h4>PostgreSQL, MySQL</h4>
      <h4>Docker</h4>
      <h4>Web Services</h4>
      <h4>Web Crawler</h4>
    </div>
    <div class="col-lg-12 text-center skills-objective">
      <h4>Para melhor te atender!</h4>
    </div> -->
  </div>
</div>
