<div class="full-container">
    <div class="contact-form">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <h1>Vamos nos Conectar!</h1>
                    <p>
                        Entre em contato através das redes sociais! Estarei te esperando!
                    </p>
                    <p>
                        Se quiser ficar por dentro das novidades do blog, insira o e-mail ao lado para poder notifica-lo!
                    </p>
                </div>
                <div class="social-networks">
                    <a href="https://github.com/fernandok4" target="_blank"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
                    <a href="https://www.linkedin.com/in/fernandokanashiro/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                </div>
            </div>
            <div class="col-md-6">
                <form class="form-group contact-form-group">
                    <div class="row">
                        <h3 class="col-md-12 text-left">
                            NewsLetter
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-left">
                            Email: 
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" name="topic" value="Cadastrar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>