$mobile-px: 576px;
$min-pc-px: 1024px;

.full-container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-color2);
}

.contact-form{
    padding: 20vh 20vw;

    @media screen and (max-width: $mobile-px) {
        padding: 20vh 5vw;
    }

    h1{
        font-size: 24px;
    }

    textarea{
        height: 200px;
    }

    input[type="submit"]{        
        background-color: var(--primary-color2-active);
        height: 40px;
        font-size: 18px;
        font-weight: bold;
    }
}

.contact-form-group{
    font-weight: bold;
}

.contact-info{
    padding-top: 50px;

    h1{
        font-size: 30px;
        font-weight: bold;
    }

    p{
        font-size: 18px;
    }

    @media screen and (max-width: $mobile-px) {
        padding: 0;
    }
}

.row{
    margin: 10px 0;
}

.social-networks{
    font-size: 80px;
    
    a{
        cursor: pointer;
        color: black;
        margin: 0 20px;
    }
}