.full-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color2);
}

.full-name{
    padding-left: 100px;
    padding-top: 25vh;
    text-align: left;

    @media screen and (max-width: 1024px) {
        padding-left: 20px;
    }

    @media screen and (max-width: 576px) {
        text-align: center;
        padding-left: 0;
        padding-top: 10vh;
    }

    h1{
        font-size: 4em;

        @media screen and (max-width: 576px) {
            font-size: 2em;
        }
    }

    h2{
        font-size: 2em;

        @media screen and (max-width: 576px) {
            font-size: 1.5em;
        }
    }
}