<!-- <app-mini-kana-character></app-mini-kana-character> -->
<div #homeContainer class="full-container">
  <div class="full-name">
    <h1>
      {{currentTypeText}}<span>|</span>
    </h1>
  </div>
  <div class="last-blog-posts">
    <h1>Últimas Postagens</h1>
    <div class="row posts">
      <div *ngFor="let post of posts" class="col-xl-4 col-lg-6" (click)="openPostContent(post)">
        <app-blog-post-card [post]="post"></app-blog-post-card>
      </div>
    </div>
    <h2>
      <a [routerLink]="'/blog'">Ver mais</a>
    </h2>
  </div>
</div>
