<!-- <div class="menu" #allMenu>
  <a class="menu-bars" (click)="openMenu()">
    <fa-icon [icon]="faBars"></fa-icon>
  </a>
  <div class="items-menu" #itemsMenu>
    <div *ngFor="let menuItem of menuItems" class="item-menu-parent">
      <a [routerLink]="[menuItem.route]">
        <div class="item-menu" [id]="menuItem.id" [ngClass]="{'active': menuItem.active}">
          <fa-icon [icon]="menuItem.icon"></fa-icon>
        </div>
      </a>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand-sm classic-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active classic-navbar-items" *ngFor="let menuItem of menuItems">
        <a [routerLink]="[menuItem.route]" [ngClass]="{'active': menuItem.active}" [id]="menuItem.id">{{menuItem.name}}</a>
      </li>
    </ul>
  </div>
</nav>