:root {
    --primary-color: #6CBDF5;
    --primary-color2: #4AC8EE;
    // --primary-color: #3EF0C0;
    // --primary-color2: #89f1d6;
    --primary-color-active: #3087B9;
}

body{
    font-family: 'Ubuntu', sans-serif;
}