:root {
    // --primary-color1: #f3eb92;
    --primary-color2: #6CBDF5;
    // --primary-color3: #36CF65;
    // --primary-color4: #E2A360;

    // --primary-color1-active: #dace53;
    --primary-color2-active: #3087b9;
    // --primary-color3-active: #36B45C;
    // --primary-color4-active: #D4812A;
}

body{
    font-family: 'Ubuntu', sans-serif;
}