$mobile-px: 576px;

.full-container{
    width: 100vw;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color2), var(--primary-color));
    padding: 100px 0 50px 0;

    @media screen and (max-width: $mobile-px) {
        padding: 25px 0 50px 0;
    }
}

.content-container{
    width: 80vw;
    margin: auto;
    background-color: #e8f2f8;
    border-radius: 10px;
    padding: 50px;
    position: relative;

    @media screen and (max-width: $mobile-px) {
        padding: 15px;
    }

    .go-back-button{
        position: absolute;
        left: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    p{
        text-align: right;
        margin-top: 3px;
        font-size: 16px!important;
        margin-bottom: 0;
    }

    .post-author{
        margin-top: 20px;
    }

    markdown ::ng-deep {
        p {
            margin: 10px 0;
            font-size: 1.1em!important;
            text-align: justify;
        }

        img {
            max-width: 480px;
        }
    }
}