$mobile-px: 576px;

.full-container{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color2), var(--primary-color));

    .title-page{
        padding-top: 100px;
        padding-bottom: 20px;

        @media screen and (max-width: $mobile-px) {
            padding-top: 10px;
        }
    }

    .post-cards{
        margin: auto;       
    }
}