$mobile-px: 576px;
$min-pc-px: 1024px;

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;

    .timeline-event {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: #212121; 
        cursor: pointer;
        
        &.disabled{
            animation-duration: 1s;
            animation-name: timelineEventEnd;
        }
        
        &.active{
            animation-duration: 1s;
            animation-name: timelineEventStart;
            background-color: #dedede; 
        }

        @keyframes timelineEventEnd {
            from {
                background-color: #dedede; 
            }
        
            to {
                background-color: #212121;
            }
        }
        
        @keyframes timelineEventStart{
            from {
                background-color: #212121; 
            }
        
            to {
                background-color: #dedede;
            }
        }
    }

    .timeline-date-event-odd{
        position: relative;

        span{
            font-size: 12px;
            transform: rotate(20deg);
            position: absolute;
            top: 2px;
            cursor: pointer;
        }
    }

    .timeline-date-event-even{
        position: relative;

        span{
            font-size: 12px;
            transform: rotate(-20deg);
            position: absolute;
            top: -32px;
            cursor: pointer;
        }
    }

    .connector{
        z-index: -1;
        position: absolute;
    }
}

.event-description{

    margin-top: 20px;

    &.event-start{
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-name: descriptionStart;
    }

    &.event-end{
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-name: descriptionEnd;
    }

    @keyframes descriptionEnd {
        from {
            opacity: 1; 
        }
    
        to {
            opacity: 0;
        }
    }
    
    @keyframes descriptionStart{
        from {
            opacity: 0; 
        }
    
        to {
            opacity: 1;
        }
    }
}

.event-description-title{
    font-size: 24px;
}

.event-description-paragraph{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;

    @media screen and (max-width: $min-pc-px) {
        font-size: 16px;
    }
}