/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'app/shared/theme/theme.scss';
@import 'app/shared/theme/input.scss';

html{
    overflow-x: hidden;
}

app-mini-kana-character{
    @media screen and (max-width: 576px) {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-active); 
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-active); 
}