<div class="full-container">
    <div class="main-painel">
        <div *ngIf="slidePage == 0" class="content-painel">
            <app-about-skill></app-about-skill>
        </div>
        <div *ngIf="slidePage == 1" class="content-painel">
            <div class="about-painel right">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>
                            Sobre mim
                        </h2>
                        <p>
                            Cresci admirando a ciências exatas e seus campos, mas a que mais me encanta é a que envolve a tecnologia. Isso tem sido desde os meus 16 anos quando comecei o Curso Técnico de Programação de Jogos Digitais e meus caros, eu, lhes digo, considero como uma das mais importantes escolhas da minha vida.
                        </p>
                        <p>
                            Pois bem, mas quem é Fernando Kanashiro? Bom, eu diria que sou amigável, empenhado, determinado, inteligente, amante da tecnologia, com vontade de aprender e me encanta a ideia de poder ensinar e propagar conhecimento. Para os mais próximos vão perceber que idealizo meios de poder ensinar o que sei.
                        </p>
                        <p>
                            Mas para você que chegou a esse site, sou um profissional incrível e que ama a profissão que escolheu. Se empenha ao máximo para poder entregar o melhor resultado, atuando tanto com backend quanto com frontend.
                        </p>
                    </div>
                    <div class="col-lg-4 about-photo">
                        <div class="polaroid-format">
                            <div class="photo">
                                <img src="/assets/img/about/about-photo1.jpg" alt="image">
                            </div>
                            <div class="description">
                                <h1>Fernando Kanashiro</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="slidePage == 2" class="content-painel">
            <app-about-timeline></app-about-timeline>
        </div>
    </div>
    <div class="page-arrow left" (click)="previousPage()"><fa-icon [icon]="faAngleLeft"></fa-icon></div>
    <div class="page-arrow right" (click)="nextPage()"><fa-icon [icon]="faAngleRight"></fa-icon></div>
</div>